@import './breakpoint-custom.scss';
@import './button-custom.scss';
@import './utils.scss';

@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova'), url('~@/assets/fonts/proximanova/Proxima-Nova-Font.otf') format('opentype');
}

$body-font-family: 'Proxima Nova', sans-serif;

$typoOptions: text-h1, text-h2, text-h3, text-h4, text-h5, text-h6, text-subtitle-1, text-subtitle-2, text-body-1,
  text-body-2, text-button, text-caption, text-overline, caption, overline;
*:not(.fa, .fab, .fal, .far, .fas, .v-icon) {
  font-family: $body-font-family, sans-serif;
  @each $typoOption in $typoOptions {
    .#{$typoOption} {
      font-family: $body-font-family, sans-serif !important;
    }
  }
}

.v-application {
  [class*='text-'] {
    font-family: $body-font-family, sans-serif !important;
  }
  font-family: $body-font-family, sans-serif !important;
}
// ---------------------------------------------------------------------------------------------------------------------------------------
